*.pyc
*~
/.vscode
__pycache__
venv
db.sqlite3
/static
/media
.DS_Store
mytable.png
outputMap.png
vendorDetails/static/outputMap.png
vendorDetails/static/outputPlotForLocVsNo.png
vendorDetails/static/outputScatterMap.png
